*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

.calendar {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    margin: 10% auto;
}

.calendar-header {
    background-color: orangered;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.calendar-days {
    color: rgb(109, 106, 106);
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

.calendar-date {
    font-size: 5rem;
    padding: 10px;
    text-align: center;
    color: #000;
    font-weight: 800;
}

.calendar-year {
    color: darkgray;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
